<div class="xlvo-display-player-content">
	<div class="panel-heading clearfix" id="xlvo-player-header">
		<h1 class="panel-title pull-left">{TITLE}</h1>
		<!-- BEGIN attendees -->
		<h1 class="panel-title pull-right"><span id="xlvo-attendees" class="label label-default">{ONLINE_TEXT}</span></h1>
		<!-- END attendees -->
		<!-- BEGIN voters -->
		<h1 class="panel-title pull-right"><span id="xlvo-votes" class="label label-default">{VOTERS_TEXT}</span></h1>
		<!-- END voters -->
		<!-- BEGIN pin -->
		<h1 class="panel-title pull-right">
			<strong class="label label-default" data-toggle="modal" data-target="#QRModal"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>&nbsp;{PIN}</strong>
		</h1>
		<!-- END pin -->
		<!-- BEGIN position -->
		<h1 class="panel-title pull-right"><span class="label label-default">{POSITION}/{COUNT}</span></h1>
		<!-- END position -->
		<!-- BEGIN countdown -->
		<h1 class="panel-title pull-right"><span id="xlvo-countdown" class="label label-cd-{COUNTDOWN_CSS}">{COUNTDOWN}</span></h1>
		<!-- END countdown -->
	</div>
	<div class="panel-body">
		<div class="well xlvo-question">{QUESTION}</div>
		<div class="row">
			<!-- BEGIN option -->
			<div class="col-md-{OPTION_COL} xlvo-option_col">
				<div class="xlvo-option"><span class="label label-primary xlvo-option_letter">{OPTION_LETTER}</span> <span class="xlvo-option_text">{OPTION_TEXT}</span></div>
			</div>
			<!-- END option -->
			<!-- BEGIN option2 -->
			<div class="col-md-{OPTION_COL}">
				<div><span class="label label-primary">{OPTION_LETTER}</span> <span>{OPTION_TEXT}</span></div>
			</div>
			<!-- END option2 -->
		</div>
		<div class="row" id="xlvo-display-results">
			{OPTION_CONTENT}
		</div>
	</div>
</div>
