<div id="ilTopBar" class="ilTopBar ilTopFixed">
	<div class="container">
		<div class="row">
			<!-- BEGIN header_top_title -->
			<div class="ilTopTitle">{TXT_HEADER_TITLE}</div>
			<!-- END header_top_title -->
		{MAIN_MENU_RIGHT}

		</div>
	</div>
</div>
<div class="ilMainHeader ilTopFixed">
	<header class="container">
		<div class="row">
			<!-- BEGIN osd_enabled --><script type="text/javascript">var OSDNotifier; $(function() { OSDNotifier = OSDNotifications({initialNotifications: {INITIAL_NOTIFICATIONS}, pollingIntervall: {OSD_POLLING_INTERVALL}, playSound: {OSD_PLAY_SOUND}})});</script><!-- END osd_enabled -->
			<!-- BEGIN osd_container --><div class="osdNotificationContainer"></div><!-- END osd_container -->
			<a class="navbar-brand" href="{HEADER_URL}" target="_top">
				<img src="{HEADER_ICON}" alt="Logo" /></a>
		</div>
	</header>
</div>
<div class="ilMainMenu ilTopFixed">
<div class="container">
	<div class="row">
		<nav id="ilTopNav" class="navbar navbar-default" role="navigation">
			
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ilMainMenuEntries">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#">Brand</a> -->
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="ilMainMenuEntries">
					{MAIN_MENU_LEFT}
					
				</div><!-- /.navbar-collapse -->
			
		</nav>

		<!-- BEGIN screen_id -->
		<!--<div id="il_screen_id" class="ilHighlighted small">Screen-ID: {SCREEN_ID}</div>-->
		<!-- END screen_id -->
		<!-- BEGIN top_section --><!-- END top_section -->
	</div>
</div>
</div>