<div class="display-voter panel panel-primary">
	<div class="panel-heading">
		<h3>{TITLE}</h3>
		<p>{DESCRIPTION}</p>
	</div>
	<div class="panel-body">
		<div class="col-md-12">
			<!-- BEGIN spinner -->
			<div class="row">
				<img class="xlvo_loader" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/rings.svg">
			</div>
			<!-- END spinner -->
			<!-- BEGIN question_text -->
			<div class="row">
				<div class="well">{QUESTION_TEXT}</div>
			</div>
			<!-- END question_text -->
			<div class="row">
				{QUESTION}
			</div>
		</div>
	</div>
</div>