#il_center_col {
  padding: 0 !important;
}

div.lxvo-row {
  margin-top: 50px;
}

#xlvo_countdown {
  display: none;
}

#xlvo-voter-header {
  h1.pull-right {
    margin-left: 5px;
  }
}

@import "../Player/player.less";