/**
 * Basic Responsiveness (beta)
 *
 * @author Jochen Erkens <j.erkens@fh-aachen.de>
 *
 * Special Thanks to Jochen Erkens, FH Aachen
 */
@media only screen and (max-width: 640px), only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
	.lvo_pin, div.ilToolbar, .lvo_choice, .lvo_total_votes, .lvo_choice_header, .lvo_choice_count, .il_Tab, .ilAccHidden, .lvo_choice_footer br {
		display: none;
	}

	.lvo_header_title {
		margin-bottom: 0px;
		font-size:     1.2em;
	}

	.lvo_body {
		position:   relative;
		left:       0;
		top:        0;
		border:     none;
		background: none;
		padding:    0;
		margin:     0;
		height:     auto;
		filter:     none;
	}

	.lvo_choice_container {
		float:         none;
		height:        50px;
		width:         100% !important; /* override inline CSS */
		margin-bottom: 20px;
		padding:       0;
	}

	.lvo_choice_footer {
		margin:        0;
		padding:       0;
		background:    none;
		border:        none;
		text-align:    left;
	}

	.lvo_choice_cipher {
		font-size: 2em;
		color:     #000000;
	}

	.inactive {
		display: none;
	}

	#lvo_isactive {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	a.lvo_vote_link {
		text-align:     center;
		height:         30px;
		line-height:    30px;
		display:        block;
	}

	a.lvo_vote_link:hover {
		text-decoration: none;
	}

	.ilTabsTableRow div.ilTabContentOuter {
		float: none;
	}

	table.lvo_cipher_titles td {
		width:      auto;
		display:    block;
		font-size:  1.0em;
		padding:    0;
		float:      left;  /* for IE */
		clear:      both;  /* for IE */
	}


	table.lvo_cipher_titles {
		margin: 0;
	}

	#il_center_col {
		margin: 0;
	}

	div #lvo_content_canvas {
		padding-left:  5px;
		padding-right: 5px;
	}
}