<!-- BEGIN jquery_fullscreen -->
<!--<script src="./Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/jquery.fullscreen-min.js" type="text/javascript"></script>-->
<!-- END jquery_fullscreen -->
<div id="lvo_content_canvas" class="">
	<div class="lvo_qr_hidden_canvas_close">{FS_CLOSE}</div>
	<div id="lvo_content" class="">
		<div class="lvo_header">
			<div>
				<div class="lvo_pin_container">
					<!-- BEGIN pinblock -->
					<div class="lvo_pin">
						<p style="font-size: 0.3em; display: block;">{PIN_URL}</p>
						<p style="font-size: 0.8em; display: block;">{PIN}</p>
					</div>
					<!-- END pinblock --><!-- BEGIN sms -->
					<div class="lvo_pin lvo_sms">
						{SMS}
					</div>
					<!-- END sms --><!-- BEGIN qrcode -->
					<div class="lvo_pin lvo_qr">
						<img id="lvo_qr_img" src="data:image/png;base64,{QR}">
					</div>
					<div class="lvo_qr_hidden_canvas">
						<div class="lvo_qr_hidden">
							<img src="data:image/png;base64,{QR_HIDDEN}">
						</div>
					</div>
					<!-- END qrcode -->
				</div>
				<div class="lvo_header_title">{HEADER_TITLE_QUESTION}</div>
				<div>
					<div id="lvo_isactive">
						{ISACTIVE}
					</div>
					<div class="lvo_total_votes">
						{TOTAL_VOTES_TEXT} <span id="lvo_total_votes_id">{TOTAL_VOTES}</span>
					</div>
					<div class="lvo_cipher_pin">
						<table class="lvo_cipher_titles">
							<!-- BEGIN title_choice -->
							<tr>
								<td>{CIPHER1} {TITLE1}</td>
								<td>{CIPHER2} {TITLE2}</td>
							</tr>
							<!-- END title_choice -->
						</table>
						<br class="lvo_clearboth"/>
					</div>
					<div class="lvo_actions">
						{ACTIONS}
					</div>
				</div>
			</div>
			<br class="lvo_clearboth"/>
		</div>
		<script type="text/javascript">
			(function () { // dont mess with global namespace, use anonymous function
				var update_speed = 1000;
				var out = 0;
				$(document).ready(function () {
					if ({ENABLE_POLLING}) {
						repeater(); // start json requests to server
					}

					$("#lvo_body_hider").click(function (event) {
						event.preventDefault();
						$(".lvo_choice_count").fadeToggle("fast");
						$(".lvo_choice_header").fadeToggle("fast");
						$(".lvo_choice").fadeToggle("fast");
					});

//					$("#lvo_fullscreen_button").click(function (event) {
//						$('#lvo_content_canvas').toggleClass("lvo_fullscreendummy", 100);
//						$('body').fullScreen(true);
//					});
//					$(".lvo_qr_hidden_canvas_close").click(function (event) {
//						$('#lvo_content_canvas').toggleClass("lvo_fullscreendummy", 100);
//						$('body').fullScreen(false);
//					});

					$("div.lvo_qr").click(function (event) {
						$('.lvo_qr_hidden_canvas').fadeIn();
					});

					$("div.lvo_qr_hidden_canvas").click(function (event) {
						$('.lvo_qr_hidden_canvas').fadeOut();
					});

				});

				var repeater = function () {
					var link = '{asyncShowContent}';
					var replacer = new RegExp('amp;', 'g');
					link = link.replace(replacer, '');
					var cols = 0;
					var col = [];

					$.getJSON(link, function (data) {
						var total = 0;
						for (var i in data) {
							if (i == 'total') {
								continue;
							}
							total += data[i]['votes'];
							cols += 1;
							col[cols] = data[i]['votes'];

							$("#choice_count_" + i).html(data[i]["votes"]);
							$("#choice_" + i).animate({height: data[i]['percentage_round'] + "%"}, 100);
							$('#lvo_choice_pro_' + i).html(data[i]["abs_percentage"] + '%');

							//$('body').append(i + ': ' + data[i]['percentage_round'] + '<br />');
						}
						if (col[1] == 2 * col[2] && col[1] == 2 * col[3] && total > 50 && !(col[1] % 2)) {
							if (out == 0) {
								$('#sound_element').html("<embed src='./Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/1347549015_CJ6kk3EsjGTRx6G5ugdG.mp3' hidden='true' autostart='true' loop='false' >");
								out = 1;
							}
						}
						else {
							$('#sound_element').html("");
						}

						$("#lvo_total_votes_id").html(data['total']);
					}).always(
							function () {
								// issue the next request, after the server has responded
								setTimeout(repeater, update_speed);
							});
				};
			})();
		</script>
		<script id="async_isactive" type="text/javascript">
			(function () { // dont mess with global namespace, use anonymous function
				var update_speed = 1000;
				$(document).ready(function () {
					isActive();
				});
				var isActive = function () {
					var link = '{asyncIsActive}';
					var replacer = new RegExp('amp;', 'g');
					link = link.replace(replacer, '');
					$.getJSON(link, function (data) {
						if (data['is_active'] == "false") {
							$('a.lvo_vote_link').slideUp(100);
							//$('#lvo_mobile_vote_links').slideUp(300);
							//$('#lvo_mobile_vote_links').fadeTo(300, 0.2);
						}
						if (data['is_active'] == "true") {
							$('a.lvo_vote_link').slideDown(100);
							//$('#lvo_mobile_vote_links').slideDown(300);
							//$('#lvo_mobile_vote_links').fadeTo(300, 1);
						}
					}).always(
							function () {
								setTimeout(isActive, update_speed);
							});
				};
			})();
		</script>
		<script type="text/javascript">
			//			$(function () {
			//				$(".fullscreen-supported").toggle($(document).fullScreen() != null);
			//				$(".fullscreen-not-supported").toggle($(document).fullScreen() == null);
			//
			//				$(document).bind("fullscreenchange", function (e) {
			//					console.log("Full screen changed.");
			//					if ($(document).fullScreen()) {
			//						$('#lvo_content').addClass("fullscreen");
			//					}
			//					else {
			//						$('#lvo_content').removeClass("fullscreen");
			//					}
			//				});
			//
			//				$(document).bind("fullscreenerror", function (e) {
			//					console.log("Full screen error.");
			//					$("#status").text("Browser won't enter full screen mode for some reason.");
			//				});
			//
			//			});
			$(document).ready(function () {
				$('#lvo_fullscreen_button').click(function () {
					$('#lvo_content_canvas').toggleClass("fullscreen");
					$('#lvo_qr_hidden_canvas_close').toggleClass("fullscreen");
				});
			});
		</script>
		<div class="lvo_body">
			<div id="sound_element"></div>
			<!-- BEGIN choice -->    <!-- BEGIN choice_view -->
			<div class="lvo_choice_container {INACTIVE}" style="width: {WIDTH_PERCENTAGE}%">
				<div class="lvo_choice_header {HIDE}">
					<p id="lvo_choice_pro_{CHOICE_ID}">{VOTE_PERCENTAGE_SHOW}%</p>
				</div>
				<a href="{VOTE_LINK}" style="color: black;">
					<div class="lvo_choice">
						<p class="lvo_choice_cipher">{CHOICE_CIPHER}</p>
						<div class="{HIDE}">
							<div id="choice_{CHOICE_ID}" class="lvo_percentage{GLOW} color{CHOICE_COLOR}" style="height: {VOTE_PERCENTAGE}%;"></div>
						</div>
					</div>
				</a> <a href="{VOTE_LINK}" style="color: black;">
				<div class="lvo_choice_footer">
					<p>
						<span>{CHOICE_CIPHER}</span><span class='{HIDE}'>:</span>
						<span id="choice_count_{CHOICE_ID}" class="lvo_choice_count {HIDE}">{VOTE_COUNT}</span>
					</p>
					<!-- BEGIN vote_link -->
					<a class="lvo_vote_link{VOTED_CLASS}" href="{VOTE_LINK}">{VOTE_TEXT}</a>
					<!-- END vote_link -->
				</div>
			</a>
			</div>
			<!-- END choice_view -->			<!-- END choice -->			<br class="lvo_clearboth"/>
		</div>
	</div>
</div>
