@import "../../../../../../../../../Services/UICore/lib/bootstrap-3.2.0/less/variables";
@import "../../../../../../../../../templates/default/less/variables";

.btn-default:active, .btn-default.active {
  background-color: darken(@brand-primary, 8%) !important;
}

@xlvo_pin_height: 250px;
@xlvo_btn_qr_modal_width: 100px;
@xlvo_btn_qr_modal_height: 50px;
@xlvo_btn_qr_modal_border-size: 5px;

img.xlvo_loader {
  width:   74px;
  height:  74px;
  margin:  0 auto;
  display: block;
}

div.xlvo_pin {
  font-size:   80px;
  text-align:  center;
  height:      @xlvo_pin_height;
  line-height: @xlvo_pin_height;
  padding:     0;
}

div.xlvo_shortlink {
  height:         @xlvo_pin_height/2-10;
  line-height:    @xlvo_pin_height/2-10;
  text-align:     center;

  vertical-align: middle;
}

div.xlvo_pin * {
  margin: 0;
}

button.xlvo_btn-qr-modal {
  width:    @xlvo_btn_qr_modal_width;
  height:   @xlvo_btn_qr_modal_height;
  position: absolute;
  top:      calc(~'(@{xlvo_pin_height}/2) - (@{xlvo_btn_qr_modal_height}/2) + (@{xlvo_btn_qr_modal_border-size}*2)');
  z-index:  100;
  border:   @xlvo_btn_qr_modal_border-size solid black;
  left:     calc(~'50% - (@{xlvo_btn_qr_modal_width}/2)');
}

/** DELOS FIX */
.navbar-text {
  margin-top:    8px !important;
  margin-bottom: 8px !important;
}

li.ilToolbarTextonly {
  padding: 4px 15px 5px 0 !important;
}

li.ilToolbarTextonly button {
  line-height: 1.42857143 !important;
}

.xlvolist-group-fix {
  height:        42px;
  margin-bottom: 5px;
}

.xlvo-question {
  font-size: 1.4em;
}

.xlvo-option {
  display:     inline;
  font-size:   1.2em;
  line-height: 1.2em;
}

h1.xlvo-option {
  font-size:   1.4em;
  line-height: 1.4em;
}

#xlvo-player-header {
  h1.pull-right {
	margin-left: 5px;
  }
}

div#il_prop_cont_pin_input {
  div.col-sm-9 {
	width:      100%;
	text-align: center;
  }
  input#pin_input {
	font-size:   3em;
	line-height: 2em;
	height:      80px;
	text-align:  center;
	width:       60%;
	margin:      auto;
  }

  label[for=pin_input] {
	width:      100%;
	clear:      both;
	text-align: center;
  }
}

// delos 5.1 fix
.ilToolbar li.ilToolbarGroup .navbar-text {
  margin-right: 20px !important;
}

.xlvo-fullscreen {
  position:         absolute !important;
  top:              0 !important;
  left:             0 !important;
  right:            0 !important;
  bottom:           0 !important;
  width:            100% !important;
  height:           100% !important;
  z-index:          5000 !important;
  background-color: black !important;
  zoom:             1.2;
  overflow-y:       scroll;
  nav.ilToolbar {
	-ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter:         alpha(opacity=30);
	-moz-opacity:   0.3;
	-khtml-opacity: 0.3;
	opacity:        0.3;
	&:hover {
	  -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  filter:         alpha(opacity=100);
	  -moz-opacity:   1;
	  -khtml-opacity: 1;
	  opacity:        1;
	}
  }
}

iframe.xlvo-preview {
  width:   100%;
  margin:  0;
  padding: 0;
  height:  500px;
  border:  none;
}

div.xlvo-preview-inner {
  @phone-border-top: 50px black solid;
  @phone-border-side: 10px black solid;
  border:        @phone-border-side;
  border-top:    @phone-border-top;
  border-bottom: @phone-border-top;
  border-radius: 20px;
  margin:        0;
  padding:       0;
}

div.xlvo-preview-outer {
  border:        2px white solid;
  border-radius: 22px;
  margin:        0;
  padding:       0;
}

.multi_line_input div.input {
  //width: 30%;
}

.modal-body p {
  word-wrap: break-word;
}

.modal-body #xlvo-modal-qr {
  width:     auto;
  max-width: 100%;
  height:    100%;
  margin:    auto;
  display:   block;
}

div.lxvo-row {
  margin-top: 50px;
}

span.xlvo-label-url {
  font-size: 3vw;
}