/*		Color scheme
		Dark BLue: #0f2152;
		Mid Blue: #4c6586;
		Green: #6ea03c;
		Light Brown: #dcb496;
		Dark Brown: #523228;
		Orange: #fa8228;
		External Blue: #21c5d8;
		ILIAS 4 MainMenu Color: #c8e6ff;
*/
/** if left unchanged, you have to copy all the background images to your skin/images folder.
* To use the delos background images in your skin,
* please change this value (in custom less data or in variables.less of your custom skin) to "../../../../templates/default/images/"
*/
/** if left unchanged, you have to copy delos fonts folder to your skin folder.
* To use the delos fonts in your skin,
* please change this value (in custom less data or variables.less of your custom skin) to "../../../../templates/default/fonts/"
*/
/* @il-highlight-bg: saturate(lighten(@brand-warning, 34%), 80%); */
/* @il-highlight-bg: lighten(@brand-secondary, 44%); */
/* @il-highlight-bg: lighten(#21c5d8, 40%); */
/* @nav-tabs-link-hover-border-color: @brand-primary; */
/* ILIAS variables candidates */
.btn-default:active,
.btn-default.active {
  background-color: #3d516c !important;
}
img.xlvo_loader {
  width: 74px;
  height: 74px;
  margin: 0 auto;
  display: block;
}
div.xlvo_pin {
  font-size: 80px;
  text-align: center;
  height: 250px;
  line-height: 250px;
  padding: 0;
}
div.xlvo_shortlink {
  height: 115px;
  line-height: 115px;
  text-align: center;
  vertical-align: middle;
}
div.xlvo_pin * {
  margin: 0;
}
button.xlvo_btn-qr-modal {
  width: 100px;
  height: 50px;
  position: absolute;
  top: calc((250px/2) - (50px/2) + (5px*2));
  z-index: 100;
  border: 5px solid black;
  left: calc(50% - (100px/2));
}
/** DELOS FIX */
.navbar-text {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
li.ilToolbarTextonly {
  padding: 4px 15px 5px 0 !important;
}
li.ilToolbarTextonly button {
  line-height: 1.42857143 !important;
}
.xlvolist-group-fix {
  height: 42px;
  margin-bottom: 5px;
}
.xlvo-question {
  font-size: 1.4em;
}
.xlvo-option {
  display: inline;
  font-size: 1.2em;
  line-height: 1.2em;
}
h1.xlvo-option {
  font-size: 1.4em;
  line-height: 1.4em;
}
.ilToolbar li.ilToolbarGroup .navbar-text {
  margin-right: 20px !important;
}
iframe.xlvo-preview {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 500px;
  border: none;
}
div.xlvo-preview-inner {
  border: 10px black solid;
  border-top: 50px black solid;
  border-bottom: 50px black solid;
  border-radius: 20px;
  margin: 0;
  padding: 0;
}
div.xlvo-preview-outer {
  border: 2px white solid;
  border-radius: 22px;
  margin: 0;
  padding: 0;
}
.modal-body p {
  word-wrap: break-word;
}
.modal-body #xlvo-modal-qr {
  width: auto;
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}
span.xlvo-label-url {
  font-size: 3vw;
}
#ilAdvSelListTable_xlvo_select {
  width: 220px !important;
}
#ilAdvSelListTable_xlvo_select li > a {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
