<div class="multi_input_line" <!-- BEGIN cust_attr -->{CUSTOM_ATTR_KEY} = "{CUSTOM_ATTR_VALUE}"<!-- END cust_attr -->>
	<!-- BEGIN input -->
	<div class="input">
		{CONTENT}
	</div>
	<!-- END input -->
    <!-- BEGIN input_label -->
    <div class="input">
        <label>{LABEL}</label>
        {CONTENT}
    </div>
    <!-- END input_label -->
	<!-- BEGIN multi_icons -->
    <div class="multi_icons_wrapper">
        <a href="#" class="btn btn-default multi_icon add_button"><span class="sr-only"></span>{IMAGE_PLUS}</a>
        <a href="#" class="btn btn-default multi_icon remove_button"><span class="sr-only"></span>{IMAGE_MINUS}</a>
    </div>
    <!-- END multi_icons -->
</div>