<tr class="fsxSortable">

	<!-- BEGIN sort_new -->
	<td class="std small {CLASS}">
		<img src="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/CtrlMainMenu/templates/images/move.png"><input type="hidden" name="position[]" value="{ID_NEW}"/>
	</td>
	<!-- END sort_new -->
	<!-- BEGIN sortold -->
	<td class="std small {CLASS}"><input size="2" type="text" name="id[{ID_OLD}]" value="{POSITION}"/></td>
	<!-- END sortold -->
	<td class="std small {CLASS}">{TITLE}</td>
	<td class="std small {CLASS}">{TYPE}</td>
	<td class="std small {CLASS}">{ACTIONS}</td>
</tr>