<script type="text/javascript">
	$('#xlvo_bar_{ID}').xlvoBar({
//		ajaxLink: "{AJAX_LINK}"
	});
</script><h4><span class="label label-primary">{CIPHER}</span> <span id="xlvo_bar_count" class="label label-default">{COUNT}</span></h4>
<div class="progress">
	<div id="xlvo_bar_{ID}" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{PERCENT}" aria-valuemin="0" aria-valuemax="100" style="width: {PERCENT}%;">
		<span class="">{PERCENT}%</span>
	</div>
</div>