div.lvo_cipher_pin {
	float: left;
}

div.lvo_actions {
	float: left;
	clear: both; /* force toolbar bellow the question */
}

div#lvo_content {
	height: 100%;
}

div.fullscreen {
	height:           100%;
	padding:          50px;
	padding-right:    200px;
	background-color: white;
	margin:           0px;
	position:         fixed;
	top:              0;
	left:             0;
	width:            100%;
	z-index:          100000;
}

/*div.fullscreen div.lvo_pin_container {
	margin-right: 100px;
	float: right;
}*/

div.xlvo_dimmer {
	background-color: white;
	position:         absolute;
	top:              0px;
	left:             0px;
	right:            0px;
	bottom:           0px;
	padding:          50px;
	display:          none;
}

div.lvo_fullscreendummy {
	position:         absolute;

	z-index:          100000;
	top:              0px;
	left:             0px;
	right:            0px;
	height:           100%;
	background-color: white;
	/*padding-top: 20px;*/
	/*padding-left: 50px;*/
	/*margin-right: 200px;*/
}

div.lvo_fullscreendummy #lvo_content {
	margin: 50px;
}

div.lvo_qr_hidden_canvas_close {
	height:           20px;
	display:          none;
	background-color: #808080;
	text-align:       center;
	color:            #FFFFFF;
}

div.lvo_fullscreendummy div.lvo_actions {
	display: none;
}

div.lvo_qr_hidden_canvas_close.fullscreen {
	display: none;
}

div.lvo_qr_hidden_canvas_close:hover {
	text-decoration: underline;
	cursor:          hand;
}

.placeholder {
	color: #AAAAAA;
}

#xlvo_pin_field {
	font-size:  60px;
	text-align: center;
	padding:    5px;
}

div.lvo_qr_hidden_canvas {
	position:         fixed;
	display:          none;
	z-index:          100000;
	top:              0px;
	left:             0px;
	height:           100%;
	width:            100%;
	background-color: white;
	text-align:       center;
}

div.lvo_qr_hidden {
	position:   relative;
	margin-top: 30px;
}

.lvo_percentage {
	/*border: 1px solid #235F91;*/

	border-top-left-radius:  5px;
	border-top-right-radius: 5px;

	width:                   100%;
	position:                absolute;
	bottom:                  0px;
}

.lvo_percentage.color0 {
	background: #23538A;
	/*background: linear-gradient(135deg, #A7CFDF 0%, #23538A 100%); *//* W3C */
}

.lvo_percentage.color1 {
	background: #238A6B;
	/*background: linear-gradient(135deg, #A7DFC0 0%, #238A6B 100%); *//* W3C */
}

.lvo_percentage.color2 {
	background: #8A4923;
	/*background: linear-gradient(135deg, #DFAEA7 0%, #8A4923 100%); *//* W3C */
}

.lvo_percentage.color3 {
	background: #66238A;
	/*background: linear-gradient(135deg, #BDA7DF 0%, #66238A 100%); *//* W3C */
}

.lvo_choice, .lvo_choice_footer {
	margin-left:  20px;
	margin-right: 20px;
}

.lvo_choice {

	-webkit-border-top-left-radius:  5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft:      5px;
	-moz-border-radius-topright:     5px;
	border-top-left-radius:          5px;
	border-top-right-radius:         5px;
	height:                          300px;
	position:                        relative;
	bottom:                          0px;
	margin-bottom:                   0px;
	background-color:                #F8F8F8;
	border:                          1px solid #DEDEDE;
	border-bottom:                   0px;
	-webkit-box-shadow:              inset 0px 0px 10px #878787; /* webkit browser*/
	-moz-box-shadow:                 inset 0px 0px 10px #878787; /* firefox */
	box-shadow:                      inset 0px 0px 10px #878787;
}

.lvo_choice_cipher {
	position:    relative;
	top:         0;
	font-size:   8em; /* fallback font size */
	font-size:   4vw;
	text-align:  center;
	color:       gray;
	z-index:     100;
	text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}

.lvo_choice_footer {
	position:         relative;
	margin-bottom:    20px;
	background-color: #EDEDED;
	border:           1px solid #DEDEDE;
	text-align:       center;
	padding:          10px;
}

.lvo_choice_footer p {
	margin-top:    0;
	margin-bottom: 0;
}

.lvo_choice_footer p:first-child {
	text-align: left;
}

.lvo_choice_container {
	float:     left;
	position:  relative;
	min-width: 120px;
}

.lvo_choice_container a:hover {
	text-decoration: none;
}

div.fullscreen .lvo_choice {
	height: 500px;
}

table.lvo_cipher_titles {
	margin-top:    12px;
	margin-bottom: 10px;
	display:       table;
}

table.lvo_cipher_titles td {
	font-size:      18pt;
	padding-left:   10px;
	padding-bottom: 10px;
	width:          300px;
}

.lvo_body {
	padding-top: 30px;
	margin-top:  12px;
	border:      1px solid #CFCFCF;
	background:  rgb(255, 255, 255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	/*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); *//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); *//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* IE10+ */
	/*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); *//* IE6-8 */

}

.lvo_clearboth {
	clear: both;
}

.lvo_header_title {
	font-size:     22pt;
	margin-bottom: 50px;
}

.lvo_pin_container {
	width:         220px;
	float:         right;
	margin-bottom: 12px;
	margin-left:   20px;
}

.lvo_pin {
	/*height: 64px;*/
	height:         120px;
	vertical-align: middle;
	width:          180px;
	text-align:     center;
	color:          #3E3E3E;
	font-size:      40pt;
	float:          right;
	padding:        5px 10px 5px 10px;
	margin-bottom:  -1px;;
	border:         1px solid #CFCFCF;
	background:     rgb(255, 255, 255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	/*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); *//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); *//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* IE10+ */
	/*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); *//* IE6-8 */

}

div.lvo_sms {
	font-size: 15pt;
	height:    auto;

}

div.lvo_qr {
	/*height:80px;*/
	cursor: zoom-in;
}

img#lvo_qr_img {
	width:        80px;
	height:       80px;
	margin-left:  auto;
	margin-right: auto;
	cursor:       hand;
}

.lvo_footer {
	margin-top: 30px;
	clear:      both;
}

.lvo_vote_link {
	-moz-box-shadow:       inset 0px 1px 0px 0px #FFFFFF;
	-webkit-box-shadow:    inset 0px 1px 0px 0px #FFFFFF;
	box-shadow:            inset 0px 1px 0px 0px #FFFFFF;
	background:            -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #DFDFDF));
	background:            -moz-linear-gradient(center top, #EDEDED 5%, #DFDFDF 100%);
	filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:      #EDEDED;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	border-radius:         6px;
	border:                1px solid #DCDCDC;
	display:               inline-block;
	font-family:           arial;
	font-size:             15px;
	font-weight:           bold;
	padding:               6px 0;
	width:                 100%;
	text-decoration:       none;
	text-shadow:           1px 1px 0px #FFFFFF;
}

div.lvo_choice_footer .lvo_vote_link {
	color: #454545; /* override standard link color */
}

.lvo_vote_link:hover {
	background:       -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #DFDFDF), color-stop(1, #EDEDED));
	background:       -moz-linear-gradient(center top, #DFDFDF 5%, #EDEDED 100%);
	filter:           progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color: #DFDFDF;
}

.lvo_vote_link:active {
	position: relative;
	top:      1px;
}

.lvo_voted {
	background:       -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A1A1A1), color-stop(1, #747474));
	background:       -moz-linear-gradient(center top, #A1A1A1 5%, #747474 100%);
	filter:           progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a1a1', endColorstr='#747474');
	background-color: #A1A1A1;
	text-shadow:      1px 1px 0px #000000;
}

.lvo_voted:hover {
	background:       -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #747474), color-stop(1, #A1A1A1));
	background:       -moz-linear-gradient(center top, #747474 5%, #A1A1A1 100%);
	filter:           progid:DXImageTransform.Microsoft.gradient(startColorstr='#747474', endColorstr='#a1a1a1');
	background-color: #626262;
}

div.lvo_choice_footer .lvo_voted {
	color: #F4F4F4;
}

.glow {
	/*outline:none;*/
	border-style: solid;
	border-color: rgb(255, 171, 23);
	/*transition: all 0.25s ease-in-out;*/
	/*-webkit-transition: all 0.25s ease-in-out;*/
	/*-moz-transition: all 0.25s ease-in-out;*/
	/*box-shadow:         0 0 20px rgba(255, 171, 23, 1);*/
	/*-webkit-box-shadow: 0 0 20px rgba(255, 171, 23, 1);*/
	/*-moz-box-shadow:    0 0 20px rgba(255, 171, 23, 1);*/
}

div.lvo_choice_header p {
	display:       block;
	margin-right:  auto;
	margin-left:   auto;
	width:         50px;
	text-align:    center;
	font-size:     17px;
	margin-bottom: 2px;
	z-index:       5000;
}

div.ilvo_actions div.ilToolbar {

}

.hidden {
	display: none;
}

#backtopin {
	margin-bottom: 10px; /* spacing between "New Pin" and the question */
}
