<style type="text/css">
	div.wait {
		background: black;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;

		-moz-opacity: 0.80;
		-khtml-opacity: 0.80;
		opacity: 0.80;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
		filter:alpha(opacity=80);
		display: none;
	}
	img.waiter {
		display: block;
		margin-left: -26px;
		margin-top: -26px;
		top: 50%;
		left: 50%;
		position: absolute;
	}
</style>

<script>
	$(document).ready(function(){
		$('{SELECTOR}').click(function(){
			$('#{ID}').fadeIn();
		});
	});
</script>
<div class='wait' id='{ID}'>
	<img class='waiter' src="Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/ajax-loader.gif">
</div>