<!-- BEGIN form -->
<div class="lvo_pinform_info">
    {PINFORM_INFO}
</div>
<div class="lvo_pinform">
	<form id="lvo_pinform_form" action="{PIN_URL}" method="post" rel="external" data-ajax="false">
        <script>
            $(document).ready(function () {
                $('#xlvo_pin_field').focus(function(){
                    if($('#xlvo_pin_field').val() == "PIN")
                    {
                        $('#xlvo_pin_field').val("");
                    }
                });
                $('#xlvo_pin_field').blur(function(){
                    if($('#xlvo_pin_field').val() == "")
                    {
                        $('#xlvo_pin_field').val("PIN");
                    }
                });
            });
        </script>
        <input type="text" name="pin" id="xlvo_pin_field" value="PIN">
        <div style="clear: both; margin-bottom: 18px;"></div>
		<input class="submit" type="submit" value="{TXT_BUTTON}">
	</form>
</div>
<!-- END form -->