<!-- BEGIN title -->
<link rel="stylesheet" type="text/css" href="{CSS_PATH}">
<script>
var new_option = 0;
var x_image_path = "{X_IMAGE_PATH}";
var postvar = "{POSTVAR}";
$(document).ready(function() {
        $("#{POSTVAR}\\[new0\\]").keydown(function(event){
                adderFunc(event, this);
            });


    $('.lvo_x').live("click", function(){
       $(this).parent().remove();
    });

        //MAKE PLACEHOLDERS FOR ALL BROWSERS
        $('[placeholder]').live("focus", function() {
            var input = $(this);
            input.removeClass('lvo_new_option placeholder').addClass('lvo_new_option');
            if (input.val() == input.attr('placeholder')) {
                input.val('');
            }
        }).blur(function() {
                    var input = $(this);
                    if (input.val() == '' || input.val() == input.attr('lvo_new_option placeholder')) {
                        input.addClass('placeholder');
                        input.val(input.attr('lvo_new_option placeholder'));
                    }
                }).blur();
        $('[placeholder]').parents('form').submit(function() {
            $(this).find('[placeholder]').each(function() {
                var input = $(this);
                if (input.val() == input.attr('placeholder')) {
                    input.val('');
                }
            })
        });
});

adderFunc = function(event, dom){
    if(event.keyCode == 13){
        event.preventDefault();
    }
    if(event.keyCode >= 48 && event.keyCode <= 125){
        new_option++;
        $('.lvo_options').append("<div class='lvo_option'><input size=75 id='"+postvar+"[new"+new_option+"]' name='"+postvar+"[new"+new_option+"]' type='text' class='lvo_new_option placeholder' placeholder='{PLACEHOLDER}' value=''> <img src='"+x_image_path+"' id='new_option_"+new_option+"_x' class='lvo_x' style='display: none;'></div>");
        $('#'+postvar+'\\[new'+new_option+'\\]').keydown(function(event){
            adderFunc(event, this);
        });
        $(dom).parent().find(".lvo_x").fadeIn("slow");
        $(dom).unbind("keydown");
    }
}

</script>
<!-- END title -->
<!-- BEGIN lvo_options_start -->
<div class="lvo_options">
<!-- END lvo_options_start -->
<!-- BEGIN lvo_option -->
<div class="lvo_option">
        <input size="75" id="{OPTION_ID}" name="{OPTION_ID}" type="text" class="{OPTION_CLASS} {PLACEHOLDER_CLASS}" value="{OPTION_VALUE}" {PLACEHOLDER}> <img src='{X_IMAGE_PATH}' id='{OPTION_ID}_x' class="lvo_x" style='display: {X_DISPLAY};'>
    </div>
<!-- END lvo_option -->
<!-- BEGIN lvo_options_end -->
</div>
<!-- END lvo_options_end -->
