<!-- BEGIN jquery_fullscreen -->
<script src="./Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/jquery.fullscreen-min.js"></script>
<!-- END jquery_fullscreen -->

<style>
	#lvo_content_canvasfsx2 {
		/*background-color: red;*/
		height: 800px;
	}

	#lvo_threesteps {
		/*background-color: green;*/
		margin-right: auto;
		margin-left:  auto;
		clear: both;
		height: 54px;
		text-align: center;
	}

	div.lvo_threesteps_begin, div.lvo_threesteps_end {
		background-image:    url("/Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/button.png");
		height:              54px;
		width:               16px;
		background-position: left top;
		float:               left;
	}

	div.lvo_threesteps_end {
		background-position: right top;
	}

	#lvo_threesteps_list {
		display: block;
		float:   left;
		padding: 0;
		margin:  0;
	}

	#lvo_threesteps_list li {
		display:     block;
		float:       left;
		height:      54px;
		line-height: 54px;
	}

	#lvo_threesteps_list li.seperator {
		background-image: url("/Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/button_sep.png");
		width:            29px;
	}

	#lvo_threesteps_list li.entry {
		padding-left:     50px;
		padding-right:    50px;
		background-image: url("/Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/button_middle.png");
		color:            #696969;
		font-size:        30px;
	}

	div.lvo_pin_containerfsx2 {
		background-color: red;
	}

	div.lvo_pinfsx2 {
		height: 250px;
		vertical-align: middle;
		display: table-cell;
		/*width: 180px;*/
		text-align: center;
		color: #3e3e3e;
		font-size: 50pt;
		float: left;
		padding: 5px 10px 5px 10px;
		margin-bottom: -1px;;
		border: 1px solid #cfcfcf;
		background: rgb(255,255,255); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
	}

</style>

<div id="lvo_content_canvasfsx2">
	<div id="lvo_contentfsx2">
		<div class="lvo_qr_hidden_canvas_close">{CLOSE}</div>
		<div id="lvo_threesteps">
			<div class="lvo_threesteps_begin"></div>
			<ul id="lvo_threesteps_list">
				<li class="entry">Step One</li>
				<li class="seperator"></li>
				<li class="entry">Step Two</li>
				<li class="seperator"></li>
				<li class="entry">Step Three</li>
			</ul>
			<div class="lvo_threesteps_end"></div>
		</div>

		<div class="lvo_pin_containerfsx2">
			<!-- BEGIN pinblock -->
			<div class="lvo_pinfsx2">
				{PIN}
			</div>
			<!-- END pinblock -->
			<!-- BEGIN sms -->
			<div class="lvo_pinfsx2 lvo_smsfsx2">
				{SMS}
			</div>
			<!-- END sms -->
			<!-- BEGIN qrcode -->
			<div class="lvo_pinfsx2 lvo_qrfsx2">
				<img id="lvo_qr_imgfsx2" src="data:image/gif;base64,{QR}">
			</div>
			<div class="lvo_qr_hidden_canvasfsx2">
				<div class="lvo_qr_hidden">
					<img src="data:image/gif;base64,{QR_HIDDEN}">
				</div>
			</div>
			<!-- END qrcode -->
		</div>
	</div>
</div>

<div id="lvo_content_canvas" class="">
<div class="lvo_qr_hidden_canvas_close">{CLOSE}</div>
<div id="lvo_content">
<div class="lvo_header">
	<div>


		<div class="lvo_header_title">{HEADER_TITLE_QUESTION}</div>

		<div>
			<div id="lvo_isactive">
				{ISACTIVE}
			</div>

			<div class="lvo_total_votes">
				{TOTAL_VOTES_TEXT}
				<span id="lvo_total_votes_id">{TOTAL_VOTES}</span>
			</div>

			<div class="lvo_cipher_pin">
				<table class="lvo_cipher_titles">
					<!-- BEGIN title_choice -->

					<tr>
						<td>{CIPHER1} {TITLE1}</td>

						<td>{CIPHER2} {TITLE2}</td>
					</tr>
					<!-- END title_choice -->
				</table>
				<br style="clear:both;">
			</div>

			<div class="lvo_actions">
				{ACTIONS}
			</div>
		</div>
	</div>
	<br style="clear:both;">
</div>
<script type="text/javascript">
	var update_speed = 1000;
	var out = 0;
	$(document).ready(function () {

		window.setInterval(function () {
			repeater();
		}, update_speed);

		$("#lvo_body_hider").click(function (event) {
			event.preventDefault();
			$(".lvo_choice_count").fadeToggle("fast");
			$(".lvo_choice_header").fadeToggle("fast");
			$(".lvo_choice").fadeToggle("fast");
		});

		$("#lvo_fullscreen_button").click(function (event) {
			$('#lvo_content_canvas').toggleClass("lvo_fullscreendummy");
			$('body').fullScreen(true);
		});
		$(".lvo_qr_hidden_canvas_close").click(function (event) {
			$('#lvo_content_canvas').toggleClass("lvo_fullscreendummy");
			$('body').fullScreen(false);
		});

		$("div.lvo_qr").click(function (event) {
			$('.lvo_qr_hidden_canvas').fadeIn(1000);
		});

		$("div.lvo_qr_hidden_canvas").click(function (event) {
			$('.lvo_qr_hidden_canvas').fadeOut(1000);
		});

	});

	repeater = function () {
		var link = '{asyncShowContent}';
		var replacer = new RegExp('amp;', 'g');
		link = link.replace(replacer, '');
		var cols = 0;
		var col = new Array();

		$.getJSON(link, function (data) {
			var total = 0;
			for (var i in data) {
				if (i == 'total') {
					continue;
				}
				total += data[i]["votes"];
				cols += 1;
				col[cols] = data[i]["votes"];

				$("#choice_count_" + i).html(data[i]["votes"]);
				$("#choice_" + i).animate({
					height:data[i]["percentage_round"] + "%"
				}, 1000);
				$('#lvo_choice_pro_' + i).html(data[i]["abs_percentage"] + '%');
			}
			if (col[1] == 2 * col[2] && col[1] == 2 * col[3] && total > 50 && !(col[1] % 2)) {
				if (out == 0) {
					$('#sound_element').html("<embed src='./Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting/templates/images/1347549015_CJ6kk3EsjGTRx6G5ugdG.mp3' hidden='true' autostart='true' loop='false' >");
					out = 1;
				}
			}
			else {
				$('#sound_element').html("");
			}

			$("#lvo_total_votes_id").html(data['total']);
		});
	};

</script>

<script id="async_isactive" type="text/javascript">
	var update_speed = 1000;
	var out = 0;
	$(document).ready(function () {

		window.setInterval(function () {
			isActive();
		}, update_speed);
	});
	isActive = function () {
		var link = '{asyncIsActive}';
		var replacer = new RegExp('amp;', 'g');
		link = link.replace(replacer, '');
		$.getJSON(link, function (data) {
			if (data['is_active'] == "false") {
				$('a.lvo_vote_link').slideUp(100);
				$('#lvo_mobile_vote_links').slideUp(300);
			}
			if (data['is_active'] == "true") {
				$('a.lvo_vote_link').slideDown(100);
				$('#lvo_mobile_vote_links').slideDown(300);
			}
		});
	};

</script>
<script type="text/javascript">

	$(function () {

		$(".fullscreen-supported").toggle($(document).fullScreen() != null);
		$(".fullscreen-not-supported").toggle($(document).fullScreen() == null);

		$(document).bind("fullscreenchange", function (e) {
			console.log("Full screen changed.");

			if ($(document).fullScreen()) {
				$('#lvo_content').addClass("fullscreen");
			}
			else {
				$('#lvo_content').removeClass("fullscreen");
			}
		});

		$(document).bind("fullscreenerror", function (e) {
			console.log("Full screen error.");
			$("#status").text("Browser won't enter full screen mode for some reason.");
		});

	});

</script>

<div class="lvo_body">
	<div id="sound_element"></div>
	<!-- BEGIN choice -->

	<div class="lvo_choice_container" style="width: {WIDTH_PERCENTAGE}%">
		<div class="lvo_choice_header">
			<p id="lvo_choice_pro_{CHOICE_ID}">{VOTE_PERCENTAGE_SHOW}%</p>
		</div>

		<div class="lvo_choice">
			<div id="choice_{CHOICE_ID}" class="lvo_percentage{GLOW}" style="height: {VOTE_PERCENTAGE}%;"></div>
		</div>

		<div class="lvo_choice_footer">
			<div id="choice_cipher_{CHOICE_ID}" class="lvo_choice_cipher">
				{CHOICE_CIPHER}
			</div>

			<div style="float:left;">
				:
			</div>

			<div id="choice_count_{CHOICE_ID}" class="lvo_choice_count">
				{VOTE_COUNT}
			</div>
			<br style="clear: both;">
			<!-- BEGIN vote_link -->
			<a class="lvo_vote_link" href="{VOTE_LINK}">{VOTE_TEXT}</a> <span id="lvo_mobile_link"
			                                                                  style="display: block;"></span>
			<!-- END vote_link -->
		</div>
	</div>
	<!-- END choice -->
	<br style="clear: both;">
</div>
</div>
</div>