
.btn-default:active,
.btn-default.active {
	background-color: #3D516C !important;
}

img.xlvo_loader {
	width:   74px;
	height:  74px;
	margin:  0 auto;
	display: block;
}

div.xlvo_pin {
	font-size:   80px;
	text-align:  center;
	height:      250px;
	line-height: 250px;
	padding:     0;
}

div.xlvo_pin * {
	margin: 0;
}

button.xlvo_btn-qr-modal {
	width:    100px;
	height:   50px;
	position: absolute;
	top:      calc((250px / 2) - (50px / 2) + (5px * 2));
	z-index:  100;
	border:   5px solid black;
	left:     calc(50% - (100px / 2));
}

/** DELOS FIX */
.navbar-text {
	margin-top:    8px !important;
	margin-bottom: 8px !important;
}
li.ilToolbarTextonly {
	padding: 4px 15px 5px 0 !important;
}
li.ilToolbarTextonly button{
	line-height: 1.42857143 !important;
}
