@import "../../../../../../../../../../../Services/UICore/lib/bootstrap-3.2.0/less/variables";
@import "../../../../../../../../../../../templates/default/less/variables";

.btn-default:active, .btn-default.active {
  background-color: darken(@brand-primary, 8%) !important;
}

@xlvo_pin_height: 220px;
@xlvo_btn_qr_modal_width: 80px;

img.xlvo_loader {
  width:   74px;
  height:  74px;
  margin:  0 auto;
  display: block;
}

div.xlvo_pin {
  font-size:  80px;
  text-align: center;
  height: @xlvo_pin_height;
  line-height: @xlvo_pin_height;
  padding: 0;
}
div.xlvo_pin * {
  margin: 0;
}

button.xlvo_btn-qr-modal {
  width: @xlvo_btn_qr_modal_width;
  position: absolute;
  top: (@xlvo_pin_height/2);
  z-index: 100;
  border: 5px solid black;
  left: calc(~'50% - (@{xlvo_btn_qr_modal_width}/2)');
}